description = "Default layout"
==
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Morecocktails - usługi barmańskie - {{ this.page.title }}</title>
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="Ununnunium">
    <meta name="description" content="Usługi barmańskie Wadowice i okolice">
    <meta name="keywords" content="barman,wadowice,usługi,barmańskie,barmanskie,pokaz,bar,barek,przenośny bar,przenośny barek">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pinyon+Script" rel="stylesheet">
    <link href="{{ 'assets/css/styles-merged.css'|theme }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/default-skin/default-skin.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.css">
    <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
    {% styles %}

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
    <body>
        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

        {% framework extras %}
        {% scripts %}

    </body>
</html>