    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <!--  <a class="navbar-brand" href="http://morecocktails.pl" title="Morecoktails">Morecoktails</a>-->
          </div>

          <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#" data-nav-section="welcome">Welcome</a></li>
              <li><a href="#" data-nav-section="specialties">Drinki</a></li>
              <li><a href="#" data-nav-section="events">Galeria</a></li>
              <li><a href="#" data-nav-section="contact">Kontakt</a></li>
            </ul>
          </div>
        </div>
      </nav>
